.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #035565;
    color: white;
  }
  
  .logo {
    width: 50px;
  }
  
  .nav-links {
    display: flex;
    gap: 40px;
  }
  
  .button {
    background: #fed5c5;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  