*{
    font-family: Arial, Helvetica, sans-serif;
}
.av{
    list-style:none;
    list-style-type: none;
    display: flex;
    border:2px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #0000003f;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: #D7E5E7;
}
.logo{
  width: 50px;
  height: 40px;
  margin-top: 7px;
}
.type{
  margin-left: 380px;
  display: flex;
  margin-top: 12px;
  font-size: 20px;
}
#ell{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 210px;
}
#perso{
  width: 38px;
  height: 38px;
  margin-top: 7px;
  margin-left: 20px;
}
button {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #035565;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100px;
    background-color: transparent;
    text-align: center;
    height: 40px;
    margin-top: 6px;
    margin-left: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #035565;
   }
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #D7E5E7;
  }
  .button1 {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #035565;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 130px;
    background-color: transparent;
    text-align: center;
    height: 40px;
    margin-top: 40px;
    margin-left: 700px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #035565;
  }
  
  .button1::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .button1:hover::before {
    width: 105%;
  }
  
  .button1:hover {
    color: #D7E5E7;
  }
  .beautiful-btn{
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #FED5C5, #ffba9f);
    color: #035565;
    border:2px solid #035565;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 140px;
    border-radius: 30px;
    margin-left: 550px;
    width: 180px;
    padding: 13px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  .beautiful-btn:hover {
    background: linear-gradient(to bottom, #FED5C5, #f3ab8e);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  .beautiful-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  h1{
    margin-left: 300px;
    margin-top: 35px;
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 24%;
  left: 33%;
  right: -20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  font-style: normal;
  }
  h5{
    margin-left: 680px;
    font-size: 15px;
    margin-top: 80px;
    position: absolute;
    top: 25%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .beautiful-btn2 {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #FED5C5, #ffba9f);
    color: #D7E5E7;
    border:2px solid #D7E5E7;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 100px;
    width: 180px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  .beautiful-bt2:hover {
    background: linear-gradient(to bottom, #FED5C5, #f3ab8e);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  .beautiful-bt2:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .gg{
    margin-left: 475px;
    margin-top: -200px;
    height: 600px;
    width: 600px;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.6));
    border-radius: 10px;
  }