*{
    font-family: Arial, Helvetica, sans-serif;
}
.av{
    list-style:none;
    list-style-type: none;
    display: flex;
    border:2px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #0000003f;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: #D7E5E7;
}
.logo{
  width: 50px;
  height: 40px;
  margin-top: 7px;
}
.type{
  margin-left: 380px;
  display: flex;
  margin-top: 12px;
  font-size: 20px;
}
#ell{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 210px;
}
#perso{
  width: 38px;
  height: 38px;
  margin-top: 7px;
  margin-left: 20px;
}
button {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #035565;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100px;
    background-color: transparent;
    text-align: center;
    height: 40px;
    margin-top: 6px;
    margin-left: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #035565;
   }
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #D7E5E7;
  }
  .button1 {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #035565;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 150px;
    background-color: transparent;
    text-align: center;
    height: 40px;
    margin-top: 40px;
    margin-left: 700px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #035565;
  }
  
  .button1::before {
    content: '';
    width: 0;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .button1:hover::before {
    width: 105%;
  }
  
  .button1:hover {
    color: #D7E5E7;
  }
  .beautiful-btn {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 180px;
    background-color: #FED5C5;
    text-align: center;
    height: 40px;
    margin-top: 150px;
    margin-left: 550px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000;
  }
  
  .beautiful-btn::before {
    content: '';
    width: 0;
    height: 450%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .beautiful-btn:hover::before {
    width: 105%;
  }
  
  .beautiful-btn:hover {
    color: #D7E5E7;
  }
  h1{
    margin-left: 300px;
    margin-top: 35px;
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 24%;
  left: 33%;
  right: -20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  font-style: normal;
  }
  h5{
    margin-left: 680px;
    font-size: 15px;
    margin-top: 80px;
    position: absolute;
    top: 25%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .beautiful-btn2 {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 180px;
    background-color: #FED5C5;
    text-align: center;
    height: 40px;
    margin-top: 150px;
    margin-left:120px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000;
  }
  
  .beautiful-btn2::before {
    content: '';
    width: 0;
    height: 450%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #035565;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .beautiful-btn2:hover::before {
    width: 105%;
  }
  
  .beautiful-btn2:hover {
    color: #D7E5E7;
  }

  .gg{
    margin-left: 475px;
    margin-top: -200px;
    height: 600px;
    width: 600px;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.6));
    border-radius: 10px;
  }